In [1]:
import pandas as pd

# Final_test 저장

In [2]:
F = pd.read_excel("./정제데이터/Busan_main/F_Final_PIH_V1.xlsx")
#UF = pd.read_excel("./정제데이터/Busan_main/Unf_Final_test1.xlsx")
UF = pd.read_excel("./정제데이터/Busan_main/Unf_Final_PIH_V1.xlsx")
R = pd.read_csv("./정제데이터/Busan_main/raw/busan_rain_data.csv")

In [3]:
df = pd.merge(UF,R,how="inner",on="SEQ")
df
df.to_excel("./정제데이터/Busan_main/Unf_Final_test1.xlsx")

# F_Final_test 전처리

In [4]:
Ft = pd.read_excel("./정제데이터/Busan_main/F_Final_test1.xlsx")

In [5]:
Ft2=Ft.drop(["ADM_CD","ZONE","Dong","DISTRICT"],axis=1).copy()

In [6]:
Ft2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3960 entries, 0 to 3959
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SEQ             3960 non-null   int64
 1   F_BEGIN_DE      3960 non-null   int64
 2   F_END_DE        3960 non-null   int64
 3   F_BEGIN_TM      3960 non-null   int64
 4   F_END_TM        3960 non-null   int64
 5   FLUD_TIME       3960 non-null   int64
 6   FLUD_DPWT       3960 non-null   float64
 7   SLOPE_L         3960 non-null   float64
 8   SLOPE_H         3960 non-null   int64
 9   SLOPE_AVG       3960 non-null   float64
 10  HIGH            3960 non-null   float64
 11  PUMP_RATIO      3960 non-null   float64
 12  IMP_SUR_RATIO   3960 non-null   float64
 13  MANHOLES_RATIO  3960 non-null   float64
 14  HOUR_RAINFALL   3960 non-null   float64
 15  PRECI_YYMMDDHH  3960 non-null   int64
 16  PRECI_HH        3960 non-null   int64
dtypes: float64(8), int64(9)
memory usage: 526.1 KB

## 전체 Dist = 0 으로 만들기

In [7]:
import math as m
Ft2["DIST"]=0
Ft2.head()

,SEQ,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,FLUD_DPWT,SLOPE_L,SLOPE_H,SLOPE_AVG,HIGH,PUMP_RATIO,IMP_SUR_RATIO,MANHOLES_RATIO,HOUR_RAINFALL,PRECI_YYMMDDHH,PRECI_HH,DIST
0,102001,20190719,20190720,2300,1200,13,0.82,0.0,2,1.0,1.57,1.189961e-07,24.36,0.006944,0.0,20190719,1,0
1,102001,20190719,20190720,2300,1200,13,0.82,0.0,2,1.0,1.57,1.189961e-07,24.36,0.006944,0.0,20190719,2,0
2,102001,20190719,20190720,2300,1200,13,0.82,0.0,2,1.0,1.57,1.189961e-07,24.36,0.006944,0.1,20190719,3,0
3,102001,20190719,20190720,2300,1200,13,0.82,0.0,2,1.0,1.57,1.189961e-07,24.36,0.006944,4.1,20190719,4,0
4,102001,20190719,20190720,2300,1200,13,0.82,0.0,2,1.0,1.57,1.189961e-07,24.36,0.006944,6.1,20190719,5,0

Ft2["SEQ"].unique()[74]

## 침수시작시간의 DIST = 1 로 만들기

In [ ]:
# 시
Ft2.loc[(Ft2["F_BEGIN_DE"]==Ft2["PRECI_YYMMDDHH"])&(Ft2["PRECI_HH"]==Ft2["F_BEGIN_TM"]/100),"DIST"]=1
#Ft2.loc[(Ft2[Ft2["SEQ"]==Ft2["SEQ"].unique()[1]][(Ft2["F_BEGIN_DE"]==Ft2["PRECI_YYMMDDHH"])]

In [ ]:
idx = Ft2[Ft2["DIST"]==1].index
idx

## 침수시작 전후 2개씩 (총 사건당 5개를 1로 변경)

In [ ]:
#Ft2.loc[20:25,"DIST"]=1

In [ ]:
for i in idx:
    Ft2.loc[i-2:i+3:,"DIST"]=1

In [ ]:
Ft2.loc[19:26,"DIST"]

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns    
%matplotlib inline

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(data = Ft2.corr(), annot=True, 
fmt = '.2f', linewidths=.5, cmap='Blues')
plt.show()

In [ ]:
def min_max_normalize(lst):
    normalized = []
    
    for value in lst:
        normalized_num = (value - min(lst)) / (max(lst) - min(lst))
        normalized.append(normalized_num)
    
    return normalized

for x in range(len(df_data.columns)):
        df_data[df[df_data.columns[x]]] = min_max_normalize(df[df_data.columns[x]])
df_data.describe()