In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
Final_DF = pd.read_excel('Reflux_data/Final_V1/F_Final_V1.xlsx',index_col=False)
Final_DF.head()

,ADM_CD,ZONE,Dong,SEQ,DISTRICT,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,FLUD_DPWT,SLOPE_L,SLOPE_H,SLOPE_AVG,HIGH
0,2644010200,강서구,대저2동,102001,강동1지구,20190719,20190720,2300,1200,13,0.820,0.0,2,1.0,1.57
1,2644012000,강서구,눌차동,32491,눌차지구1,20120914,20120917,2400,2400,59,0.345,15.0,30,22.5,1.63
2,2644012000,강서구,눌차동,32492,눌차지구2,20120914,20120917,2400,2400,59,0.350,15.0,30,22.5,9.11
3,2644010100,강서구,대저1동,101999,대저1-2지구,20190719,20190720,2300,1200,13,0.813,0.0,2,1.0,1.77
4,2644010100,강서구,대저1동,90599,대저1지구,20140825,20140825,1400,1700,3,0.320,0.0,2,1.0,2.05

In [24]:
PIH_DF = pd.read_excel('Reflux_data/Final_V1/PIH_merge.xlsx',index_col=False)
PIH_DF.head()

       ADM_CD ZONE    PUMP_RATIO  IMP_SUR_RATIO  MANHOLES_RATIO
0  2644000000  강서구  1.189961e-07          24.36        0.006944
1  2641000000  금정구  3.042751e-08          18.94        0.004689
2  2671000000  기장군  1.364381e-08           7.70        0.001618
3  2629000000   남구  2.565982e-07          51.82        0.011569
4  2617000000   동구  1.982161e-07          57.92        0.023885

In [25]:
#PIH_DF.drop(['ADM_CD'],axis=1,inplace=True)
PIH_DF.head()

  ZONE    PUMP_RATIO  IMP_SUR_RATIO  MANHOLES_RATIO
0  강서구  1.189961e-07          24.36        0.006944
1  금정구  3.042751e-08          18.94        0.004689
2  기장군  1.364381e-08           7.70        0.001618
3   남구  2.565982e-07          51.82        0.011569
4   동구  1.982161e-07          57.92        0.023885

In [26]:
Main_data = pd.merge(Final_DF,PIH_DF,on='ZONE') 
Main_data.head()

,ADM_CD,ZONE,Dong,SEQ,DISTRICT,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,FLUD_DPWT,SLOPE_L,SLOPE_H,SLOPE_AVG,HIGH,PUMP_RATIO,IMP_SUR_RATIO,MANHOLES_RATIO
0,2644010200,강서구,대저2동,102001,강동1지구,20190719,20190720,2300,1200,13,0.820,0.0,2,1.0,1.57,1.189961e-07,24.36,0.006944
1,2644012000,강서구,눌차동,32491,눌차지구1,20120914,20120917,2400,2400,59,0.345,15.0,30,22.5,1.63,1.189961e-07,24.36,0.006944
2,2644012000,강서구,눌차동,32492,눌차지구2,20120914,20120917,2400,2400,59,0.350,15.0,30,22.5,9.11,1.189961e-07,24.36,0.006944
3,2644010100,강서구,대저1동,101999,대저1-2지구,20190719,20190720,2300,1200,13,0.813,0.0,2,1.0,1.77,1.189961e-07,24.36,0.006944
4,2644010100,강서구,대저1동,90599,대저1지구,20140825,20140825,1400,1700,3,0.320,0.0,2,1.0,2.05,1.189961e-07,24.36,0.006944

In [27]:
Main_data.to_excel('F_Final_PIH_V1.xlsx')

## 비침수 데이터 병합

In [28]:
Unf_Final_DF = pd.read_excel('Reflux_data/Final_V1/Unf_Final_V1.xlsx',index_col=False)
Unf_Final_DF.head()

,ADM_CD,ZONE,Dong,SEQ,DISTRICT,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,FLUD_DPWT,SLOPE_L,SLOPE_H,SLOPE_AVG,HIGH
0,2644010200,강서구,대저2동,102001,강동1지구,20190719,20190720,2300,1200,13,0,0,2,1.0,1.57
1,2644012000,강서구,눌차동,32491,눌차지구1,20120914,20120917,2400,2400,59,0,15,30,22.5,1.63
2,2644012000,강서구,눌차동,32492,눌차지구2,20120914,20120917,2400,2400,59,0,7,15,11.0,9.11
3,2644010100,강서구,대저1동,101999,대저1-2지구,20190719,20190720,2300,1200,13,0,0,2,1.0,1.77
4,2644010100,강서구,대저1동,90599,대저1지구,20140825,20140825,1400,1700,3,0,0,2,1.0,2.05

In [29]:
Main1_data = pd.merge(Unf_Final_DF,PIH_DF,on='ZONE') 
Main1_data.head()

,ADM_CD,ZONE,Dong,SEQ,DISTRICT,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,FLUD_DPWT,SLOPE_L,SLOPE_H,SLOPE_AVG,HIGH,PUMP_RATIO,IMP_SUR_RATIO,MANHOLES_RATIO
0,2644010200,강서구,대저2동,102001,강동1지구,20190719,20190720,2300,1200,13,0,0,2,1.0,1.57,1.189961e-07,24.36,0.006944
1,2644012000,강서구,눌차동,32491,눌차지구1,20120914,20120917,2400,2400,59,0,15,30,22.5,1.63,1.189961e-07,24.36,0.006944
2,2644012000,강서구,눌차동,32492,눌차지구2,20120914,20120917,2400,2400,59,0,7,15,11.0,9.11,1.189961e-07,24.36,0.006944
3,2644010100,강서구,대저1동,101999,대저1-2지구,20190719,20190720,2300,1200,13,0,0,2,1.0,1.77,1.189961e-07,24.36,0.006944
4,2644010100,강서구,대저1동,90599,대저1지구,20140825,20140825,1400,1700,3,0,0,2,1.0,2.05,1.189961e-07,24.36,0.006944

In [30]:
Main1_data.to_excel('Unf_Final_PIH_V1.xlsx')